/* Tamaño para pantallas pequeñas (móvil) */
.logo-app {
  width: 100px;
}

/* Pantallas medianas en adelante (tablet) */
@media (min-width: 768px) {
  .logo-app {
    width: 120px;
  }
}

/* Pantallas grandes (desktop) */
@media (min-width: 1200px) {
  .logo-app {
    width: 160px;
  }
}
